.header {
    font-family: 'Pusia-Bold', sans-serif;
    margin-top: 50px;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffff;
    span {
        color: #EC1C24;
    }
}